/* navbar start */
.navbar-nav .nav-item .nav-link{

    font-weight: 700;
    font-size: 17px;
    color: white;
    }
    .button{
        width: 129px;
    height: 42px;
    text-align: center;
    background: #F49600;
    border-radius: 8px;
    margin-left: 1em;
    }

    .links {
        text-align: center;
    }
    
    .links ul {
        display: flex;
        justify-content: center; /* Center the list horizontally */
        align-items: center; /* Center the list vertically */
    }
    
    .links ul li {
        list-style: none;
    }
    
    .links ul li a {
        text-decoration: none;
        padding: 0 2rem;
        color: #fff;
    }
    
    .arrow-img {
        width: 1rem;
        height: 1rem;
        margin-top: 0.3rem;
    }

    .calculate-profit{
        background-image: url(images/calculate\ profit\ image.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .overlap{
        padding: 80px 0 50px 0;
        background-color: #0e1b54;
        opacity: 0.9;
        width: 100%;
    }

/* investment plan section */
.investment-plan{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.investment-plan .investment-overlap{
    padding: 80px 0 50px 0;
    background-color: rgb(0, 0, 0, 0.5);
    
}
.animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 5px;
    background: #bd431e;
    overflow: hidden;
}
.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 2px;
    left: 15px;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}
@keyframes animborder {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(80px);
    }
}
.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 63px;
    background-color: rgb(212, 152, 41);
    border-radius: 50%;
    /* margin: auto; */
    margin-left: 5rem;
    margin-bottom: 1rem;
    margin-top: -2rem;
  }

  .icon img {
    width: 2rem;
  }


  
.single-investment-plan {
    margin-bottom: 30px;
    padding: 29px 18px;
    width: 17rem;
    background: #272C48;
    border-radius: 178.5px 178.5px 63px 55px;
    transition: 0.3s;
    
    position: relative;
    color: white;
}
.single-investment-plan .investment-plan-icon {
    margin-bottom: 26px;
    width: 48px;
    margin-left: 5rem;
}
.single-investment-plan h3 {
    font-size: 26px;
    margin-bottom: 0px;
    text-align: center;
}
.single-investment-plan p {
    /* color: rgba(255, 195, 0, 0.8); */
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}
.single-investment-plan a {
    margin-top: 20px;
}
.single-investment-plan a:hover{
    color: white;
}
.single-investment-plan ul{
    padding-left: 0;
}
.single-investment-plan ul li {
    position: relative;
    margin-bottom: 29px;
    font-size: 14px;
    list-style: none;
}
.single-investment-plan ul li .site-btn{
   text-decoration: none;
}
.single-investment-plan ul li span.special {
    padding: 2px 8px;
    background: rgba(42, 157, 143, 0.6);
    border-radius: 8px;
}
.single-investment-plan ul li span {
    float: right;
}
.investment-calculation{
    padding: 50px 0;
    background-color: #057b63;
}

@media only screen and (max-width: 767px){
   .single-investment-plan{
    margin-left: 8rem;
   }
}
@media only screen and (max-width: 420px){
    .single-investment-plan{
        margin-left: 4rem;
       }
}
@media only screen and (max-width: 375px){
    .single-investment-plan{
        margin-left: 2rem;
       }
}

    
    .grad-btn{
        color: #ffffff;
        background: linear-gradient(90deg, #dd2c6d, #ff8a00);
    }
    .grad-btn:hover{
         /* background-color: #003049; */
         background: linear-gradient(90deg, #d11057, #d67506);
    }
    .site-btn{
        display: inline-block;
        padding: 13px 27px;
        border-radius: 50px;
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        box-shadow: 0px 0px 2px #00304966;
    }
    
    
    
    

    
    /* footer section */
.footer-section{
    background-color: #003049;
    padding: 80px 0 50px 0;
}
.footer-section .box1{
    height: 15rem;
}
.footer-section .base-navigation{
    height: 15rem;
}
.base-navigation ul{
    padding-left: 0rem;
}
.base-navigation ul li{
    list-style: none;
    
}
.base-navigation ul li a{
    text-decoration: none;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 254.52%;
letter-spacing: 0.005em;
color: #F5F5F5;
}
  